# NixOS development
.envrc

# Emacs
**/*~

#Plasma
.directory

# Node stuff
node_modules/
.DS_Store
npm-debug.log
build/
.env
*.sqlite3
.vscode/
.idea/

#Transpiled javascript
public/src/


# Added by cargo

/target
